* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    width: 100%;
}


/* header*/

.header {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
    background-color: black;
}

.logo {
    width: 15%;
}

.navegador {
    display: flex;
    margin: 0 0% 0% 15%;
    justify-content: space-between;
    width: 80%;
    box-sizing: border-box;
}

.navegador a:hover {
    color: gray;
}


/*.navegador */

a {
    color: white;
    text-decoration: none;
    /*le estamos quitando el subrayado azul que tine por defaul*/
    display: flex;
    align-items: center;
    padding: 0 .2rem 0 .2rem;
}

.nav {
    font-size: 1.3em;
    font-family: verdana;
    text-align: center;
    margin: auto;
}


/* atletas pantalla principal */

#initial {
    width: 100%;
}

#input {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}


/* botones para ordenar A-Z Z-A */

.button-az {
    position: absolute;
    margin: 0% 0% 0% 56%;
    background: #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 5%;
    height: 2rem;
    border: solid 1px #f2f2f2;
    color: #bdbdbd;
}

.button-za {
    position: absolute;
    margin: 0% 1.2% 0% 62%;
    background: #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 5%;
    height: 2rem;
    border: solid 1px #f2f2f2;
    color: #bdbdbd;
}


/* titulo seccion */

.tittle {
    font-family: sans-serif;
    color: #bdbdbd;
    margin: 0% 0% 0% 10%;
}


/* input buscar */

#search {
    position: absolute;
    margin: 0% 0% 0% 70%;
    background: #f2f2f2;
    border: solid 1px #f2f2f2;
    border-radius: 93px;
    font-size: 1rem;
    text-align: center;
    font-family: sans-serif #bdbdbd;
    width: 25%;
    height: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#all-athletes {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

#box {
    display: inline-block;
    width: 15%;
    background-color: #26798e;
    border-radius: 10%;
    margin: 1rem 0 1rem 0;
    padding: .2rem;
    box-sizing: border-box;
}

#box:hover {
    cursor: pointer;
    box-shadow: rgba(102, 205, 170);
}

.avatar {
    width: 50%;
    position: relative;
    margin-left: 25%;
}

.name {
    text-align: center;
    font-size: .9rem;
    font-family: verdana;
    font-weight: lighter;
    color: white;
}

.info {
    font-size: .7rem;
    font-family: verdana;
    color: white;
    text-align: center;
}

.flag {
    width: 20%;
    margin-left: 40%;
}


/* seccion disciplinas */

#container {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    width: 12%;
    background-color: white;
    border: 2px solid #26798e;
    border-radius: 5%;
    margin: 1rem auto 1rem auto;
    padding: .2rem;
    box-sizing: border-box;
}

.disciplina {
    width: 70%;
    position: auto;
    margin-left: 14%;
}

.text {
    text-align: center;
    font-size: 1rem;
    font-family: monospace;
}


/* footer */

footer {
    height: 10%;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}

.textFooter {
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0 0 0 1%;
}

#athlos {
    position: relative;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
}

.barra-inferior {
    position: relative;
    margin: 0% 0% 0% 68%;
    box-sizing: border-box;
    padding: .3rem;
}

.footer a:hover {
    color: gray;
}

.navFooter {
    display: flex;
}